<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据分析</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="css/mystyle.css">
    <script src="jquery-3.3.1.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="bootstrap-paginator.js"></script>
    <script src="echarts.js"></script>
    <script type="text/javascript">

        function analysing(natures, num, days) {
            $.ajax({
                type: "POST",
                url: "/weibo/analysis",
                contentType: "application/json",
                data: JSON.stringify({'num': 5, 'natures': natures, 'days': days}),
                success: function (msg) {
                    var names = [];
                    var feqs = [];
                    for (var i = 0; i < msg.data.length; i++) {
                        names.push(msg.data[i].name);
                        feqs.push(msg.data[i].feq);
                    }
                    myChart.setOption({
                        xAxis: {
                            data: names
                        },
                        yAxis: {},
                        series: [{
                            name: '次数',
                            type: 'bar',
                            data: feqs
                        }]
                    });
                }
            })
        };

        window.onload = analysing(["ns", "nsf"], 5, 2);

    </script>
</head>
<body>
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="index">
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="index">首页</a></li>
            <li><a href="weibo">微博</a></li>
            <li><a href="toutiao">头条</a></li>
            <li><a href="analysis">数据分析</a></li>

        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="list-group side-bar">
                <a class="list-group-item" id="1">关键词</a>
                <a class="list-group-item" id="2">地区</a>
            </div>
        </div>
        <div class="col-md-8">
            <div id="main" style="width: 600px;height:400px; float: right"></div>
            <script type="text/javascript">
                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('main'));
                // 指定图表的配置项和数据
                myChart.setOption({
                    title: {
                        text: '关键字出现频次'
                    },
                    tooltip: {},
                    legend: {
                        data: ['次数']
                    },
                    xAxis: {
                        data: []
                    },
                    yAxis: {},
                    series: [{
                        name: '次数',
                        type: 'bar',
                        data: []
                    }]
                });
            </script>
        </div>
    </div>
</div>
</body>
</html>