<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>头条</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="css/mystyle.css">
    <link rel="stylesheet" href="css/pagination.css">
    <script src="jquery-3.3.1.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="bootstrap-paginator.js"></script>
    <script type="text/javascript">
        function paging(page, key) {
            $.ajax({
                type: "POST",
                url: "/toutiao/list",
                contentType: "application/json",
                data: JSON.stringify({'size': 10, 'index': page, "key": key}),
                success: function (msg) {
                    //查询出来数据进行操作
                    $(".news-list").html("");
                    var str = "";
                    for (var i = 0; i < msg.data.voList.length; i++) {
                        str += "<div class=\"news-list-item clearfix\" id=\"1\">\n" +
                            "                     <div class=\"col-sm-5\"><img src=\"" + msg.data.voList[i].imgUrl + "\"> </div>\n" +
                            "                     <div class=\"col-sm-7\">\n" +
                            "                         <div class=\"title\">\n" +
                            "                             <a target=\"_blank\" href=\"" + msg.data.voList[i].connectUrl + "\">" + msg.data.voList[i].title + "</a>"
                        str += "</div>\n" +
                            "                         <div class=\"info\">\n" +
                            "                             <span>" + msg.data.voList[i].informationDO.author + "</span> *\n" +
                            "                             <span>" + msg.data.voList[i].informationDO.comment + "评论</span> <br>" ;
                        for (var j = 0; j < msg.data.voList[i].keyWords.length; j++) {
                            str += "                             <span class=\"label label-info\">" + msg.data.voList[i].keyWords[j].keyWord + "</span>";
                        }
                            str += "                         </div>\n" +
                            "                     </div>";
                        str += "</div>";
                    }
                    str += "";
                    $(".news-list").html(str);
                    var pages = msg.data.maxIndex;//这里data里面有数据总量
                    var element = $('#pageUl');//对应下面ul的ID
                    var options = {
                        bootstrapMajorVersion: 3,
                        currentPage: page,//当前页面
                        numberOfPages: 10,//一页显示几个按钮（在ul里面生成10个li）
                        totalPages: pages, //总页数
                        onPageClicked:function (event, originalEvent, type, page) {
                            var currentTarget = $(event.currentTarget);
                            switch (type) {
                                case "first":
                                    currentTarget.bootstrapPaginator("showFirst");
                                    paging(page,key);
                                    break;
                                //上一页
                                case "prev":
                                    currentTarget.bootstrapPaginator("showPrevious");
                                    paging(page,key);
                                    break;
                                case "next":
                                    currentTarget.bootstrapPaginator("showNext");
                                    paging(page,key);
                                    break;
                                case "last":
                                    currentTarget.bootstrapPaginator("showLast");
                                    paging(page,key);
                                    break;
                                case "page":
                                    currentTarget.bootstrapPaginator("show", page);
                                    paging(page,key);
                                    break;
                            }
                        }
                    }
                    element.bootstrapPaginator(options);
                    scrollTo(0,0);
                }
            });//通过动态分页插件实现列表页ajax拼接加载
        }

        function hotting(num) {
            $.ajax({
                type: "POST",
                url: "/toutiao/hot",
                contentType: "application/json",
                data: JSON.stringify({'num': 10}),
                success: function (msg) {
                    //查询出来数据进行操作
                    $(".list").html("");
                    var str = "";
                    for (var i = 0; i < msg.data.length; i++) {
                        str += "<div class=\"list-item\">\n" +
                            "                            <a class=\"title\" target=\"_blank\" href=\"" + msg.data[i].connectUrl + "\">" + msg.data[i].title + "</a>\n" +
                            "                            <div class=\"desc\">" + msg.data[i].informationDO.comment + "评论 " + "</div>\n" +
                            "                        </div>";
                    }
                    str += "";
                    $(".list").html(str);
                }
            });//ajax拼接加载24小时热闻
        }

        $(function () {
            $(".all").click(function () {
                paging(1, "");
            });
        });
        $(function () {
            $(".fraud").click(function () {
                paging(1, "诈骗");
            });
            $("#collapseListGroup2").on("click", "#f1", function () {
                paging(1, "诈骗,金融");
            });
            $("#collapseListGroup2").on("click", "#f2", function () {
                paging(1, "诈骗,贷款");
            });
            $("#collapseListGroup2").on("click", "#f3", function () {
                paging(1, "诈骗,电信");
            });// 菜单栏诈骗分类下根据关键词匹配后在数据库中筛选内容；
        });
        $(function () {
            $(".risk").click(function () {
                paging(1, "风控");
                $("#collapseListGroup1").on("click", "#r1", function () {
                    paging(1, "风控,金融");
                });
                $("#collapseListGroup1").on("click", "#r2", function () {
                    paging(1, "风控,银行");
                });
                $("#collapseListGroup1").on("click", "#r3", function () {
                    paging(1, "风控,智能");
                });
            });// 菜单栏风控分类下根据关键词匹配后在数据库中筛选内容；
        });

        $(function () {
            $(".panel-heading").click(function (e) {
                /*切换折叠指示图标*/
                $(this).find("span").toggleClass("glyphicon-chevron-down");
                $(this).find("span").toggleClass("glyphicon-chevron-up");
                $(".list-group").find(".actived").removeClass("actived")
                $(this).addClass("actived");
            });
        });

        $(function () {
            $(".list-group-item").click(function (e) {
                $(".list-group").find(".actived").removeClass("actived")
                $(this).addClass("actived");
            });
        });

        window.onload = paging(1, "");
        window.onload = hotting(10);
    </script>
</head>
<body>
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="index">
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="index">首页</a></li>
            <li><a href="weibo">微博</a></li>
            <li><a href="toutiao">头条</a></li>
            <li><a href="analysis">数据分析</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="list-group side-bar">
                <div class="panel-primary leftMenu">
                    <div class="panel-heading all activied" id="collapseListGroupHeading0" data-toggle="collapse" data-target="#collapseListGroup0" role="tab" >
                        <h4 class="panel-title">
                            全部
                        </h4>
                    </div>
                </div>
                <div class="panel-primary leftMenu">
                    <div class="panel-heading risk" id="collapseListGroupHeading1" data-toggle="collapse" data-target="#collapseListGroup1" role="tab" >
                        <h4 class="panel-title">
                            风控
                            <span class="glyphicon glyphicon-chevron-down right" style="float: right"></span>
                        </h4>

                    </div>
                    <!-- .panel-collapse和.collapse标明折叠元素 .in表示要显示出来 -->
                    <div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="collapseListGroupHeading1">
                        <ul class="list-group" style="list-style: none">
                            <li>
                                <a class="list-group-item" id="r1">金融</a>
                            </li>
                            <li>
                                <a class="list-group-item" id="r2">银行</a>
                            </li>
                            <li>
                                <a class="list-group-item" id="r3">智能</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-primary leftMenu">
                    <div class="panel-heading" id="collapseListGroupHeading2" data-toggle="collapse" data-target="#collapseListGroup2" role="tab" >
                        <h4 class="panel-title fraud">
                            诈骗
                            <span class="glyphicon glyphicon-chevron-down right" style="float: right"></span>
                        </h4>

                    </div>
                    <!-- .panel-collapse和.collapse标明折叠元素 .in表示要显示出来 -->
                    <div id="collapseListGroup2" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="collapseListGroupHeading2">
                        <ul class="list-group" style="list-style: none">
                            <li>
                                <a class="list-group-item" id="f1">金融诈骗</a>
                            </li>
                            <li>
                                <a class="list-group-item" id="f2">贷款诈骗</a>
                            </li>
                            <li>
                                <a class="list-group-item" id="f3">电信诈骗</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="news-list ">
            </div>
        </div>
        <div class="col-md-3">
            <div class="side-bar-card flag clearfix">
                <div class="col-xs-5">
                    <img src="img/1-1.png" style="width: 60px;height: 60px; ">
                </div>
                <div class="col-xs-7">
                    <div>有害信息举报专区</div>
                    <div>
                        <small>举报电话：12377</small>
                    </div>
                </div>
            </div>
            <div class="side-bar-card ">
                <div class="card-title">24小时热闻</div>
                <div class="card-body">
                    <div class="list">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="nav">
    <ul class="pagination" id="pageUl">
    </ul>
</nav>
<div class="footer">
</div>
</body>
</html>